h1
{
    font-size:50px;

    background-color: #f3ba00;
    color:white;
    text-align: center;

    

}

p
{
    font-size:50px;
}
select
{
    font-size:40px;
    border-radius: 25px;
    
    
}
input
{
    font-size: 40px;
    border-radius: 25px;
}
button
{
    font-size:40px;
    text-align: center;
    border-radius: 25px;
    background-color: #f3ba00;
}
div[id="p1"]
{
    background-color: #99d8dd;
    border-radius: 25px;
}
div[id="p2"]
{
    background-color: #99d8dd;
    border-radius: 25px;
}
div[id="p3"]
{
    background-color: #99d8dd;
    border-radius: 25px;
}



