.fixed-height {
    height: 300px;
}

.fixed-width {
    width: 300px;
}

.avatar-result-box {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    left:35%
}

.topp {
    margin-top: 380px;
}

fieldset {
    border: 3px solid #f3ba00;
}

img {
    border: 0px;
}

#face {
    z-index: 10;
    position: absolute;
    left: 30px;
    top: 35px;
    width: 240px;
}

#eye {
    z-index: 11;
    position: absolute;
    left: 30px;
    top: 120px;
    width: 240px;
}

#nose {
    z-index: 11;
    position: absolute;
    left: 30px;
    top: 125.5px;
    width: 240px;
}

#mouth {
    z-index: 11;
    position: absolute;
    left: 30px;
    top: 180.5px;
    width: 240px;
}

#brow {
    z-index: 11;
    position: absolute;
    left: 30px;
    top: 100px;
    width: 240px;
}

#hair {
    z-index: 11;
    position: absolute;
    left: 30px;
    top: -25px;
    width: 240px;
}
