.background-color {
    background:#e1e8ec;
}

.dark-blue-color {
    color: #01587a;
}

.yellow-color {
    color: #f3ba00;
}

.yellow-background-color {
    background: #f3ba00;
}

.yellow-background-opacity-color {
    background: #f3eedd15;
}

.light-blue-color {
    color: #99d8dd;
}
.light-blue-color-background {
    background: #99d8dd;
}

.light-blue-color-two {
    color: #5cb3c1;
}

.light-blue-color-two-background {
    background: #5cb3c1;
}

input{
    outline: none;
    background: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  .plus-button {
    position: fixed;
    bottom: 0;
    z-index: 2;
    height: 120px;
    border-radius: 100px;
    right: 45%;
  }