h1
{
    font-size:50px;

    background-color: #f3ba00;
    color:white;
    text-align: center;
}

p
{
    font-size:45px;
}
span
{
    font-size:45px;
}
select
{
    font-size:40px;
    border-radius: 25px;
    
    
}
input
{
    font-size: 40px;
    border-radius: 25px;
}
button
{
    font-size:40px;
    text-align: center;
    border-radius: 25px;
    background-color: #5cb3c1;
}

div[id="Income"]
{
    background-color: #5cb3c1;
    border-radius: 25px;
}
div[id="Balance"]
{
    background-color: #99d8dd;
    border-radius: 25px;
}
div[id="Expense"]
{
    background-color: #99d8dd;
    border-radius: 25px;
}
body
{
    background-color: #e1e8ec;
}




